@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

/* Section */
section {
    padding-top: 200px;
    height: 80vh;
}

h5 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 45px;
}

.card {
    border: none;
}

.image {
    height: 270px;
    width: 500px;
    padding-bottom: 50px;
}

/* Go Top Button */
.goTop {
    position: fixed;
    bottom: 70px;
    right: 10px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    background: #43a047;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    border: none;
    opacity: 0.2;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
  }
  
  .goTop:hover {
    transition: .5s;
    background: #003300;
  }
  
  .goTop:focus {  /* this removes the outline around the button when clicked */
    outline: 0;   
    }
  
  
    /* Footer */
  footer {
    color: #fff;
    font-size: 15px;
    width: 100%;
    bottom: 0;
    height: 60px;
    padding: 15px;
    text-align: center;
    clear: both;
    background-color: #003300;
    opacity: 0.99;
    margin: auto;
    position: relative;  /* relative keeps the footer at the bottom */
  }
  