@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}


/* Hero */
.hero {
    width: 100%;
    height: 70vh;
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-position: center top;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero p {
    text-align: center;
    width: 60%;
    font-size: 18px;
    line-height: 1.9;
    margin: auto;
    color: white;
}

.hero h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #43a047;
}

.hero a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid #fff;
    padding: 6px 12px;
    display: inline-block;
    margin-top: 25px;
    /* background: #43a047; */
    color: white;
    transition: color 0.4s linear;
}

.hero a:hover {
    transition: .5s;
    background: #003300;
}

.hero a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.hero a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.hero a:hover span {
    padding-right: 25px;
  }
  
.hero a:hover span:after {
    opacity: 1;
    right: 0;
  }


/* Container 1 */
#container1 {
    background-color: #725760;
    color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column, .center-column, .right-column {
    width: 33.33%;
    float: left;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    #container1 .left-column, .center-column, .right-column {
        font-size: 12px;
    }
}


/* Container 2 */
#container2 {
    margin-top: 100px;
    margin-bottom: 100px;
    background: white;
}

.header {
    text-align:center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.header-p {
    text-align: left;
    padding-left:15%;
    padding-right:15%;
    font-size: 18px;
    margin-bottom: 20px;
}
@media all and (max-width:700px){
    .myP {
        padding:2%;
    }
}


/* Container 3 */
#container3 {
    background-color: #725760;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#container3 img {
    height: 120px;
    width: 120px;
    filter: brightness(0) invert(1);
    padding: 20px 20px 20px 20px;
}

#container3 img:hover {
    filter: invert(0);
}


/* Container 4 */
#container4 {
    padding-top: 100px;
    padding-bottom: 100px;    
    max-width: 960px;
    margin: 0 auto;
    /* background: #f1ece7; */
}

#container4 h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding-bottom: 100px;
}

.card {
    height: 100%;
    transition: .5s;
    border: none;
    padding-bottom: 50px;
    /* background: #f1ece7; */
}

.card:hover i , h5 {
    color: #43a047;
}

.card:hover {
    transform: scale(1.03);
}

.card h5 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.card p {
    font-size: 18px;
    text-align: center;
}




