@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* About Us Section */
#about {
  padding-top: 200px;
  padding-bottom: 50px;
}

#about p {
    text-align: left;
    font-size: 18px;
}

#about h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


/* Team Section */
#team {
  background: #f1ece7;
  padding-top: 50px;
}

#team h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.team-header {
  font-size: 18px;
  text-align: center;
  margin-bottom: 70px;
}

#team h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #43a047;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  height: 80%;
  width: 100%;
  clear: both;
  margin-bottom: 100px;
  border-radius: 0;
  box-shadow: 5px 5px 15px #003300;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.card:hover {
  background: #43a047;
  color: #fff;
  border-radius: 0;
  /* border: none; */
  box-shadow: 5px 5px 15px #003300;
}

#team .card:hover h4, .card:hover p {
  color: #fff;
}

.skill {
  font-size: 14px;
  text-align: center;
}

.photo {
  display:block;
  margin:auto;
  height: 120px;
  margin-bottom: 10px;
}

