<link href="{{ url_for( 'static', filename='css/footer.css') }}" rel="stylesheet">

<!-- Footer -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-info">
                    <h4>Apelinks</h4>
                    <p>Hours: 7am - 10pm</p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="{{ url_for('seo') }}">About SEO</a></li>
                        <li><a href="{{ url_for('career') }}">Careers</a></li>
                    </ul>
                </div>  
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact</h4>
                    <p>
                    <i class="fas fa-map-marker-alt"></i> 12355 Antoine Dr. Houston, TX 77067 <br>
                    <i class="fas fa-phone"></i><a href="tel:832-791-3428"> 832-791-3428</a><br>
                    <i class="fas fa-envelope"></i><a href="mailto:seoapelinks@gmail.com"> seoapelinks@gmail.com</a><br>
                    </p>
                    <div class="social-links">
                        <a href="https://www.facebook.com/DirectShadings/" class="twitter"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/jonathan-yeras-40882b191/" class="twitter"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://twitter.com/lilbillskills" class="twitter"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Newsletter</h4>
                    <p>Join our newsletter to learn more.</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            Copyright © 2020 Apelinks. All Rights Reserved.
        </div>
    </div>
</footer>
<!-- End of Footer -->