{% extends 'base.html' %}
{% block content %}
<link href="{{ url_for( 'static', filename='css/index.css') }}" rel="stylesheet">

<!-- Hero -->
<section class="hero">
    <div class="container">
        <h1 class="animated fadeInLeft delay-0.5s">The Internet's Most Ferocious SEO & Marketing Animal</h1>
        <p class="animated fadeInRight delay-1s">We have been ranking websites for over eight years now, and our SEO/PPC animals are the best in class and 
            are your competitor's dread. Learn why more companies are turning to Apelinks. Serving businesses big or small.</p>
        <p class="animated fadeInLeft delay-2s"><a href="{{ url_for('contact') }}"><span>Request Demo</span></a></p>
    </div>
</section>
<!-- End of Hero -->

<!-- Container 1 -->
<div class="container-fluid" id="container1">
    <div class="left-column">
        <p><i class="far fa-smile"></i> Over 100 Happy Clients</p>
    </div>
    <div class="center-column">
        <p><i class="fas fa-hand-holding-usd"></i> Affordable Prices</p>
    </div>
    <div class="right-column">
        <p><i class="fas fa-laptop-code"></i> SEO Experts for B2B/Enterprises</p>
    </div>
</div>
<!-- End of Container 1 -->

<!-- Container 2 -->
<div class="container" id="container2">
  <!-- just to make scrolling effect possible -->
<h2 class="header">Best in Class SEO & PPC Services - Since 2017</h2>
  <p class="header-p">
      If you are looking for a Brave and Bold search engine marketing agency, you have found the right 
      gorilla for the job. We have been honing our skills our work speaks for itself. This is exactly why our clients 
      stay engaged with a month-to-month retainer. If we do not perform, we do not get paid.
    </p>
    <p class="header-p">
        Clients prefer ruthless and relentless over boring and tasteless. We deliver results, generate revenue, and stay on 
        top of market changes. For prospective new clients, We will sit down with your team and find out the best direction 
        for your company to go.
    </p>
    <p class="header-p">
        Just give us a call today. Expect a genius gorilla to answer the phone and help you understand what our team can do to 
        kickstart or get your online marketing campaign back on track.
    </p>
</div>
<!-- End of Container 2 -->

<!-- Container 3 -->
<div class="container-fluid" id="container3">
    <img src="{{ url_for('static', filename='img/googleads.png') }}" alt="">
    <img src="{{ url_for('static', filename='img/googleanalytics.png') }}" alt="">
    <img src="{{ url_for('static', filename='img/ahrefs.png') }}" alt="">
    <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="">
    <img src="{{ url_for('static', filename='img/majestic.png') }}" alt="">
    <img src="{{ url_for('static', filename='img/raven.png') }}" alt="">
    <img src="{{ url_for('static', filename='img/semrush.png') }}" alt="">
</div>
<!-- End of Container 3 -->

<!-- Container 4 -->
<div class="container" id="container4">
    <h1>What We Offer</h1>
    <div class="row">
        <!-- Card 1 -->
        <div class="col s3 m3 13 center-align">
            <div class="card">
                <div class="card-content">
                    <p><i class="fas fa-photo-video fa-4x"></i></p>
                    <h5>Earned Media</h5>
                    <p>SEM, PPC, social media marketing, viral campaigns including photo ops, videos, and 
                        graphical promotions, digital PR and email marketing.
                    </p>
                </div>
                <!-- <div class="card-action"><a href="#"></a></div> -->
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col s3 m3 13 center-align">
            <div class="card">
                <div class="card-content">
                    <p><i class="fas fa-comments-dollar fa-4x"></i></p>
                    <h5>Paid Media</h5>
                    <p>Google AdWords and PPC, social media advertising, media buys, display advertising.
                    </p>
                </div>
                <!-- <div class="card-action"><a href="#"></a></div> -->
            </div>
        </div>
    </div>
    
    <div class="row">
        <!-- Card 3 -->
        <div class="col s3 m3 13 center-align">
            <div class="card">
                <div class="card-content">
                    <p><i class="fas fa-envelope-open-text fa-4x"></i></p>
                    <h5>Email Marketing</h5>
                    <p>Email deployments, segmentation, automation, list growth management, & more.
                    </p>
                </div>
                <!-- <div class="card-action"><a href="#"></a></div> -->
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col s3 m3 13 center-align">
            <div class="card">
                <div class="card-content">
                    <p><i class="fas fa-video fa-4x"></i></p>
                    <h5>Video Production</h5>
                    <p>Cinematography, Budgeting, Casting, Story boarding, Pre & Post production & more.
                    </p>
                </div>
                <!-- <div class="card-action"><a href="#"></a></div> -->
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Card 5 -->
        <div class="col s3 m3 13 center-align">
            <div class="card">
                <div class="card-content">
                    <p><i class="fas fa-camera-retro fa-4x"></i></p>
                    <h5>Photography</h5>
                    <p>Photoshoots, Product pictures, photo editing & more.
                    </p>
                </div>
                <!-- <div class="card-action"><a href="#"></a></div> -->
            </div>
        </div>        
        <!-- Card 6 -->
        <div class="col s3 m3 13 center-align">
            <div class="card">
                <div class="card-content">
                    <p><i class="fas fa-tools fa-4x"></i></p>
                    <h5>More Services</h5>
                    <p>We offer a wide range of custom services uniquely tailored to each business.
                    </p>
                </div>
                <!-- <div class="card-action"><a href="#"></a></div> -->
            </div>
        </div>
    </div>
</div>
<!-- End of Container 4 -->

{% endblock %}

