{% extends 'base.html' %}
{% block content %}
<!-- CSS -->
<link href="{{ url_for( 'static', filename='css/contact.css') }}" rel="stylesheet">


<!-- Container 1 -->
<section id="top-container">
  <div class="container">
    <h2>Contact</h2>
    <p class="header-p">Please fill out this form and we'll be in touch soon.</p>
    <!-- <center> -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    Thank you! I will get in touch with you!
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End of Container 1 -->

{% endblock %}

